/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
    font-family: 'Spectral', serif;
    line-height: 1.6;
    margin: 30px;
}

/* Encabezado */
header {
    background: #88694D;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 5px;
    text-align: center;
    background: #DB7D57;
    position: relative; /* Añadir posición relativa al contenedor */
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
    position: relative; /* Necesario para el dropdown */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block; /* Asegurarse de que el enlace ocupe el espacio del li */
}

/* Dropdown menu */
nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background: #88694D;
    min-width: 160px;
    z-index: 1;
    left: 0; /* Alineación al contenedor padre */
    top: 100%;
}

nav ul li .dropdown-content li {
    display: block;
}

nav ul li .dropdown-content li a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

nav ul li .dropdown-content li a:hover {
    background: #E9E0CF;
    color: #88694D;
}

/* Mostrar el dropdown cuando se pase el ratón por encima del li */
nav ul li:hover .dropdown-content {
    display: block;
}

/* Mantener el dropdown visible cuando se pasa el ratón por encima del dropdown-content */
nav ul li:hover .dropdown-content:hover {
    display: block;
}

/* Sección principal */
main {
    margin: 20px 0;
}

main h2 {
    margin-bottom: 10px;
}

/* Contenedor de texto centrado */
.centered-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center; /* Centra el texto dentro del contenedor */
}

.centered-text {
    font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
    color: #88694D;
    padding-left: 10%;
    padding-right: 10%;
}

.centered-text-header {
    font-size: 20px; /* Ajusta el tamaño del texto según sea necesario */
    color: #88694D;
}

/* Estilos del contenedor de botones */
.button-container {
    display: flex;
    justify-content: space-around; /* Espacia uniformemente los botones */
    flex-wrap: wrap; /* Permite que los botones se envuelvan a la siguiente línea si es necesario */
    margin: 20px 0; /* Espacio alrededor del contenedor de botones */
}

/* Estilos del botón grande */
.big-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background-color: #E9E0CF;
    color: #88694D;
    text-decoration: none;
    padding: 20px;
    border-radius: 25px;
    width: 30%; /* Puedes ajustar el tamaño según tus necesidades */
    margin: 20px ; /* Centrar horizontalmente */
    text-align: center;
    transition: background-color 0.3s ease;
}

.big-button img {
    width: 70%; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 70%;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.big-button span {
    font-size: 20px; /* Ajusta el tamaño del texto según sea necesario */
}

.big-button:hover {
    color:#E9E0CF;
    background-color: #88694D; /* Color de fondo al pasar el ratón */
}

/* Pie de página */
footer {
    background: #DB7D57;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}


