/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
    font-family: 'Spectral', serif;
    line-height: 1.6;
    margin: 20px;
}

/* Encabezado */
header {
    background: #7d7df3;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 5px;
    text-align: center;
    background: #9bbcf0;
    position: relative; /* Añadir posición relativa al contenedor */
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
    position: relative; /* Necesario para el dropdown */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block; /* Asegurarse de que el enlace ocupe el espacio del li */
}

/* Dropdown menu */
nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background: #7d7df3;
    min-width: 160px;
    z-index: 1;
    left: 0; /* Alineación al contenedor padre */
    top: 100%;
}

nav ul li .dropdown-content li {
    display: block;
}

nav ul li .dropdown-content li a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

nav ul li .dropdown-content li a:hover {
    background: #9bbcf0;
}

/* Mostrar el dropdown cuando se pase el ratón por encima del li */
nav ul li:hover .dropdown-content {
    display: block;
}

/* Mantener el dropdown visible cuando se pasa el ratón por encima del dropdown-content */
nav ul li:hover .dropdown-content:hover {
    display: block;
}

/* Sección principal */
main {
    margin: 20px 0;
}

main h2 {
    margin-bottom: 10px;
}

/* Pie de página */
footer {
    background: #9bbcf0;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}


